
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #3b3b3b;
}
.comment .comment-arrow {
  border-color: #ffffff;
}

#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a,
#main-menu-links li a:hover {
  background: #e9821d;
}
 
#page,
#main-wrapper{

background: #ffffff;

}
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#header {
 
}
a {
  color: #0071B3;
}


.sidebar .block {
  background-color: #f6f6f2;
  border-color: #f9f9f9;
}



.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #000000;
}
