@media (max-width:1150px){
 
#header-top{
display:none;
}

#logo {
width:100%;
margin-top:0px;
margin-bottom:5px;
}
#logo img{
max-width:100%;
}

#header .section{
height:auto !important;
margin-top:20px;
}

#name-and-slogan{
padding:0px;
margin: 0px 0px 10px 0px;
border-top:1px solid #f3f4f5;
float:none;
clear: both;
text-align:center;
}

#mobile-menu{
background:#c5271e;
display:block;
}
#mobile-menu {
color:#fff;
height:40px;
line-height:40px;
}
#mobile-menu a{
color:#fff;
display:inline-block;
width:30%;
text-align:center;
}

#main-menu{
background:#f3f4f5;
display:none;
}
#main-menu .section{
margin-top:0px;
}

#main-menu-links{
text-align:left;
float:none;
}

.language-switcher-locale-url{
display:none;
}
#main-menu li{
float:none;
width:100%;
border-right:none;
border-bottom:1px solid #ccc;
}

#main-menu li.last{
border-bottom:none;
}

#main-menu li a{
color:#666;
font-weight:normal;
padding:0px;
float:none;
display:inline;
}

.i18n-zh-hans #main-menu-links a {
    font-weight: normal;
    padding: 0px;
}


#main-menu li a:hover,
#main-menu li a.active{
background:#f3f4f5;
color:#c5271e;
}

#main-menu-links .view-menu-category{
position: initial;
border:0px;
background:none;
width:auto;
}

#main-menu-links .view-menu-category .views-row-first .views-field-field-thumbnail {
display:none;
}

#main-menu-links .view-menu-category .views-field-name a{
padding:10px;
border-bottom:1px solid #ccc;
margin-right:0px;
width:auto;
}
#main-menu-links .view-menu-category .views-row-first .views-field-name a{
border-top:1px solid #ccc;
}

#main-menu-links .view-menu-category .views-field-name a:hover{
background:none;
}
#banner #block-pingan-login-pingan-login-box{
right:9%;
display:none;
}
#block-views-information-block .views-row .views-field-created ,#block-views-information-block-1 .views-row .views-field-created{
display:none;
}

#block-views-course-description-block .views-row{
background:none;
}


.menu_box  h2{

padding-top:35px;
}

.menu_box .content , .course-bottom .content{
 width:300px;
margin:0 auto;
}

.course-bottom {
    background-color: #ffffff;
    text-align: center;
    float: none;
    width: 100% !important;
    margin-top: 35px;
    margin-bottom: 35px;
    height: 278px;
    
    margin:0 auto;
}
}

@media(max-width: 1025px){
.jcarousel-skin-tango .jcarousel-prev-horizontal {
left:90%;
}

}

@media(max-width: 950px){

#block-menu-menu-ooter-menu ul{
text-align:center;
}
#block-block-1{
text-align:center;
}
#block-pingan-login-pingan-login-box {
margin-bottom:30px;
}
#block-pingan-login-pingan-login-box h2 {
padding-top:30px;
}
#block-pingan-login-pingan-login-box .content{
width:300px;
margin:0 auto;
}
#block-views-information-block .views-field-view-node,
#block-views-information-block-1 .views-field-view-node{
margin-left:3% !important;
}

#block-views-information-block .views-row-1 .views-field-view-node,
#block-views-information-block-1 .views-row-1 .views-field-view-node{
margin-left:3px !important;
}

#block-views-information-block .views-row-2 .views-field-body,
#block-views-information-block-1 .views-row-2 .views-field-body,
#block-views-information-block .views-row-3 .views-field-body,
#block-views-information-block-1.views-row-3 .views-field-body,
#block-views-information-block .views-row-4 .views-field-body,
#block-views-information-block-1.views-row-4 .views-field-body{
 width:95%;
float:none;
}

#block-views-information-block .views-row-2 .views-field-title,
#block-views-information-block .views-row-3 .views-field-title,
#block-views-information-block .views-row-4 .views-field-title,
#block-views-information-block-1 .views-row-2 .views-field-title,
#block-views-information-block-1 .views-row-3 .views-field-title,
#block-views-information-block-1 .views-row-4 .views-field-title{
width:95%;
float:none;
}

#block-views-information-block .views-row-2 .views-field-field-image,
#block-views-information-block .views-row-3 .views-field-field-image,
#block-views-information-block .views-row-4 .views-field-field-image,
#block-views-information-block-1 .views-row-2 .views-field-field-image,
#block-views-information-block-1 .views-row-3 .views-field-field-image,
#block-views-information-block-1 .views-row-4 .views-field-field-image{
width:100%;
float:none;
}

#block-views-information-block .views-row-2 .views-field-view-node,
#block-views-information-block .views-row-3 .views-field-view-node,
#block-views-information-block .views-row-4 .views-field-view-node,
#block-views-information-block-1 .views-row-2 .views-field-view-node,
#block-views-information-block-1 .views-row-3 .views-field-view-node,
#block-views-information-block-1 .views-row-4 .views-field-view-node{
margin:0 !important;
}
}
@media(max-width: 830px){

#block-views-home-banner-block{
display:none;
}

#block-views-course-description-block .views-field-field-thumbnail{
left: 0;
position: absolute;
right: 0;
top: 24%;
width: auto;
text-align: center;
margin:0px !important;
border:none;
display:none;
}

#block-views-course-description-block .views-row{
position: relative;
}

#block-views-course-description-block img{
height: 125px;
width: auto;
}
#block-views-course-description-block .views-field-description .field-content{
float:none;
width:auto;
/*margin-top:27%;
height:45%;*/
height:80%;
}
#block-views-course-description-block .views-field-nothing-3 {
 width:auto;
bottom:10%;
right:0;
left:0;
background:none;
height:auto;
display:none;

}
#block-views-course-description-block .views-field-nothing-3 a {
background: #ff6707;
display:inline-table;
border-radius: 5px;
padding:5px 20px;
}



#block-views-course-description-block .views-field-description{
line-height:1.523em;
height:auto;
}

.jcarousel-skin-tango{
position:relative;
}
.jcarousel-skin-tango .jcarousel-next-horizontal{
top:42%;
right:0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
left:0;
top:42%;
}

#block-views-social-trading-block ,#block-views-social-trading-block-1{
display:none;
}
#block-views-social-trading-block-2{
display:block;
}

#block-views-social-trading-block-1 h2 ,#block-views-social-trading-block-2 h2,#block-views-course-description-block h2{
height:70px;
background: rgba(0, 0, 0, 0) url("../images/hengxian.png") no-repeat scroll center 60px;
font-size:12px;
}
#block-views-social-trading-block-1 h2 img ,#block-views-social-trading-block-2 h2 img,#block-views-course-description-block h2 img{
width:34px;
height:30px;
display: block;
margin-bottom:7px;
margin-left:48%;
margin-top:0px;
margin-right:0px;
}

#block-views-social-trading-block-2 img{
width:70%;
}

#block-views-social-trading-block-2 .bg{
width:70% !important;
left:15%;
}

#block-views-social-trading-block-2 .jcarousel-container .views-field-php {
 left: 41%;
top:31%;
}

#block-views-course-description-block .views-row .views-field-nothing-2 {
width:100%;
padding:0px;
}
#block-views-course-description-block .views-row-1 .views-field-nothing-2 {
background-color:#e26f00;
background-position: 99% center;
background-repeat: no-repeat;
background-image: url("/sites/all/themes/Etoro/images/shang1.png");
}
#block-views-course-description-block .views-row-2 .views-field-nothing-2 {
background-color:#e5b000;
background-position: 99% center;
background-repeat: no-repeat;
background-image: url("/sites/all/themes/Etoro/images/xia1.png");
}
#block-views-course-description-block .views-row-3 .views-field-nothing-2 {
background-color:#84bc3f;
background-position: 99% center;
background-repeat: no-repeat;
background-image: url("/sites/all/themes/Etoro/images/xia1.png");
}

#block-views-course-description-block .views-field-nothing-2  span{
display:block;
overflow:hidden;
padding:17px 10px;
margin-right:30px;
}
#block-views-course-description-block .views-row-1 .views-field-nothing-2  span{
background:#f8750e;
}
#block-views-course-description-block .views-row-2 .views-field-nothing-2  span{
background:#f7c33d;
}
#block-views-course-description-block .views-row-3 .views-field-nothing-2  span{
background:#a0d550;
}



.page-activity #content .view-activity .views-row, .page-information #content .view-information .views-row{
height:auto;
}
.page-activity .view-activity .views-field-nothing, .page-information .view-information .views-field-nothing{
height:auto;
width:100%;
float:none;
margin-top:20px;
}
.page-activity .view-activity .views-field-nothing .title, .page-information .view-information .views-field-nothing .title{
 float:none;
}
.page-activity .view-activity .views-field-nothing .date, .page-information .view-information .views-field-nothing .date{
float:none;
}


.page-activity .view-activity .views-field-field-activity-image, .page-information  .view-information .views-field-field-image, .view-course-details .view-content .views-field-nothing .img {
float:none;
width:100%;
height:auto;
}

.view-course-details .view-content .views-field-nothing .all {
margin-top:20px;
width:100%;
}
.view-course-details .view-content .views-field-nothing .all .title,.view-course-details .view-content .views-field-nothing .all .body{
margin-left: 0px;
width:100%;
}
.page-activity .views-field-nothing .all, .page-information .views-field-nothing .all{
margin-left:0px;
}
.region-right-sidebar #block-pingan-login-pingan-login-box .content{
margin:0 auto;
width:300px;;
}

}
@media (max-width: 578px){
#edit-date-completed-wrapper{

width:220px;
}
#views-exposed-form-course-report-page-1 #edit-submit-course-report{

margin-top:72px !important;
}
#edit-date-completed-wrapper label{

display:block;
}
label{
margin-top:0px;
margin-bottom:0px;

}
}
@media (max-width: 490px){
#views-exposed-form-course-enrollment-vbo-admin-page-1 #edit-mail-wrapper{

margin-top:-20px;

}
#views-exposed-form-course-enrollment-vbo-admin-page-1 #edit-submit-course-enrollment-vbo-admin{

margin-top:2px !important;
}
}
@media (max-width: 481px) {
.views-exposed-form .views-exposed-widget .form-item-combine{

padding: 0px 40px 10px 3px;
}
.page-information #edit-field-categories-tid {
    margin-left: 15px;
    margin-top: 6px;
}
.page-information .views-exposed-form .views-exposed-widget .form-item-combine {
    padding: 6px 40px 4px 20px;
}
.page-activity .views-exposed-form .views-exposed-widget .form-item-combine{
 padding: 6px 40px 4px 7px;

}
.page-information .views-exposed-form .views-exposed-widget .form-submit, .page-activity .views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 16px;
}
.page-information .views-exposed-form #edit-combine-wrapper{
     
    margin-left: -14px;
}
#edit-combine-wrapper input.form-text{

width:100%;
}
.views-exposed-form .views-exposed-widget .form-submit{

margin-top: 10px;
}
.view-course-enrollment-vbo-admin #edit-submit-course-enrollment-vbo-admin,
.view-course-report #edit-submit-course-report{

margin-top:22px;
}
#views-exposed-form-course-enrollment-vbo-admin-page-1 #edit-mail-wrapper{

margin-top:-20px;
width:80%;
}
#views-exposed-form-course-enrollment-vbo-admin-page-1 #edit-mail-wrapper input,
#views-exposed-form-course-enrollment-vbo-admin-page-1 #edit-name-wrapper input{

width:100%;
}
.views-exposed-form .form-item-date-completed-min,
.views-exposed-form .form-item-date-completed-max{

width:100%;
}
.views-exposed-form .form-item-date-completed-min input,
.views-exposed-form .form-item-date-completed-max input{

width:100%;
}
#views-exposed-form-course-enrollment-vbo-admin-page-1 #edit-name-wrapper{

width:80%;
}
#views-exposed-form-course-enrollment-vbo-admin-page-1 #edit-submit-course-enrollment-vbo-admin{

margin-top:2px !important;
}
#edit-date-completed-wrapper{

width:220px;
}
#edit-date-completed-wrapper label{

display:block;
}
select {
    margin: 0px 0px 0px 0px;
    width: 90%;
    background-color: #ffffff;
}
.views-exposed-form #edit-tid {
     margin-right: 0px; 
    margin-left: 15px;
}
#edit-field-level-tid-wrapper, #edit-field-topic-tid-wrapper, #edit-tid-wrapper, #edit-field-categories-tid-wrapper {
    padding: 0px;
    width: 50%;
    background: #f6f6f6;
    margin-top: 12px;
    
}
#edit-combine-wrapper {
margin-top:8px;
width: 80%;
}
.views-submit-button {
    
    top: 11px;
    left: 54%;
}
#block-views-course-description-block .views-field-description{
width:100%;
background:#fff;
border:none;
}


#block-views-course-description-block .views-field-description .field-content{
/*margin-top:35%;*/
}

#block-views-course-description-block span {
font-size:14px;
}
#block-views-course-description-block .views-field-nothing-2 .name{
 background: rgba(0, 0, 0, 0) url("../images/heng.png") no-repeat scroll 8px 31px;
}
#block-views-course-description-block h2{
margin-top:20px;
margin-bottom:20px;
}

#block-views-course-description-block .views-field-nothing-2 .icon, #block-views-course-description-block .views-field-nothing-2 .name{
margin:0px;
padding:8px;
}
#block-views-course-description-block .views-field-nothing-2 .icon {
width:auto;
}

#block-views-course-description-block .views-field-nothing-2 .enter {
padding:0px;
}
#block-views-course-description-block .views-field-nothing-2 .enter a{
padding:4px 14px;
 margin-top: 5px;
}

#block-views-course-description-block img{
height: 85px;
width: auto;
}


#block-block-4 {
margin-top:0px;
height:auto;
border:0px;
border-bottom:0px;
margin-bottom:0px;
}

#block-block-4 .information-title{
height:auto;
position: relative;
margin-bottom:0px;
border-radius:0px;
}

#block-block-4 .information-title p{
margin:0px 0px 10px 0px;
}
#block-block-4 .information-title .more{
position:absolute;
right:0;
top:0;
margin:0px;
padding:0px;
}

#block-block-4 .information-title .title{
text-align:left;
width:100%;
}

#block-block-4 .article ,#block-block-4 .news{
border:1px solid #d11211;
border-radius:0px;
height:30px;
width:50% !important;
}
#block-block-4 .article a ,#block-block-4 .news a{
display:block;
}

#block-views-information-block .views-row, #block-views-information-block-1 .views-row {
width:100%;
float:none;
overflow: hidden;
clear:both;
}
#block-views-information-block .views-row .views-field-body ,#block-views-information-block-1 .views-row .views-field-body{
width:100%;
}
#block-views-information-block .views-row .views-field-field-image, #block-views-information-block-1 .views-row .views-field-field-image{
width:32%;
float:left;
}


#block-views-information-block .views-row .views-field-title ,#block-views-information-block-1 .views-row .views-field-title {
width:64%;
margin-left:3%;
float:left;
}

#block-views-information-block .views-row .views-field-body , #block-views-information-block-1 .views-row .views-field-body{
width:64%;
margin-left:3%;
float:left;
}

#block-views-information-block .views-row-first .views-field-created,#block-views-information-block-1 .views-row-first .views-field-created{
display:block;
float:none;
margin-top:0px;
}
#block-views-information-block .views-row-first .views-field-field-image ,#block-views-information-block-1 .views-row-first .views-field-field-image{
width:100%;
float:none;
}
#block-views-information-block .views-row-first .views-field-body , #block-views-information-block .views-row-first .views-field-title,
#block-views-information-block-1 .views-row-first .views-field-body , #block-views-information-block-1 .views-row-first .views-field-title{
width:100%;
float:none;
margin-left:0px;
}

#block-views-information-block .views-row-2 .views-field-view-node,
#block-views-information-block .views-row-3 .views-field-view-node,
#block-views-information-block .views-row-4 .views-field-view-node,
#block-views-information-block-1 .views-row-2 .views-field-view-node,
#block-views-information-block-1 .views-row-3 .views-field-view-node,
#block-views-information-block-1 .views-row-4 .views-field-view-node{
margin:3% !important;
}


#block-views-activity-block{
width:100%;
height:auto;
}
#block-pingan-login-pingan-login-box {
width:100%;
}

#block-views-activity-block .views-field-view-node a {
margin:0 auto;
}


#footer li a {
padding:0px;
}

#block-block-1{
width:100%;
border-top: 1px solid #ccc !important;
}
#block-block-1 ul li{
display:inline-table;
float:none;
}

#block-block-1 ul li:last-child{
width:100%;
}

#footer #block-block-1 a{
float:none;
}

#block-block-1 li img{
margin-top:0px !important;
}

#footer {
height:auto;
}
#footer .block {
margin-top:0px;
}
#block-menu-menu-ooter-menu {
width:100%;
}
#block-menu-menu-ooter-menu ul li{
display:inline-table;
padding-top:0px;

}
#block-menu-menu-ooter-menu ul li a{
float:none;
border-right:1px solid #666;
padding-right:5px;
line-height:1em;
}

#highlighted{
background-image:none;
}

#content-bottom{
background-image:none;
}
#block-views-activity-block .views-field-type-1 span {
font-size:14px;
}
#block-course-outline #items{
 height:auto;
}
#block-course-outline #items .control{
display:none;
}

#block-views-social-trading-block-2 ,#block-views-social-trading-block{
display:none;
}

#block-views-social-trading-block-1{
display:block;
}

#block-views-social-trading-block-1 img{
width:70%;
}
#block-views-social-trading-block-1 .bg{
width:70% !important;
left:15%;
}


#block-views-social-trading-block-1 h2 img ,#block-views-course-description-block h2 img{

margin-left:44%;
}
#block-views-social-trading-block-1 .jcarousel-container .views-field-php {
 left: 43%;
}


}

@media (max-width: 321px) {
#block-views-course-description-block .views-field-description .field-content{
/*margin-top:40%;*/
/*height:50%;*/
}
#block-views-social-trading-block-1 .jcarousel-container .views-field-php {
 left: 41%;
top:25%;
}

}

