.loginBody{
	position: fixed;
	top:0;
	left:0;
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: rgba(0,0,0,0.7);
	filter:alpha(opacity=70);
	z-index:999; 
	
}
.loadform{
  width: 100%;
  height: 92%;
  position: absolute;
  top:8%;
  left:0;
  z-index: 10001;
 background: url('load.gif') center center no-repeat #fff;
}
.popBody{
height: 100%;
height: 100%;
    position: relative;
}
.loginPop{ 
   position: relative;
  margin: 15% auto;
  min-width: 350px;
  width: 30%;
  height: 98%;
  max-height: 340px;
  border: 1px #ccc solid;
  background: #fff;
  padding: 1%;

}
.titleLogin,.titleRegister{
  text-align: center;
  display: none;
  height: 20px;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
}
.popClose{
	position: absolute;
  top: 0px;
  left: 0px;
  width: 50px;
  line-height: 30px;
  height: 45px;
	cursor: pointer;
}
#block-pingan-login-pingan-login-box button,.my_account{
  min-width: 95px;
  width: 48%;
  height: 31px;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-right: 2%;
}
.my_account{background:#f8750e;
border-radius: 4px;
border: 1px solid wheat;
color: #ffffff;}

#block-pingan-login-pingan-login-box .popRegister{
background:#f8750e;
border-radius: 4px;
border: 1px solid wheat;
color: #ffffff;
margin-left:2%;
  margin-right: 0;
}
.sign_out{  
  width: 48%;
  margin-left:2%;
    margin-right: 0;
  min-width: 95px;
  height: 31px;
  line-height: 40px;
    display: inline-block;
  float: right;
  text-align: left;
   }

.sign_out a{
      text-decoration: underline !important;
  color: #be2b28;
  font-size: 14px;
}
.login_input{  width: 83%;

  display: inline-block;
  margin-bottom: 5px;}

#block-pingan-login-pingan-login-box .popLogin{
background:#ffffff;
border-radius: 4px;
border: 1px solid #D4D2CF;
}
#block-pingan-login-pingan-login-box{
background-color: #ffffff;
text-align: center;
float:right;
width:31%;
margin-top: 40px;
margin-bottom: 35px;
height: 248px;
}
.i18n-zh-hans #block-pingan-login-pingan-login-box{

height:260px;
}
#block-pingan-login-pingan-login-box h2{
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;

}
.i18n-zh-hans #block-pingan-login-pingan-login-box h2{

font-size:20px;
}
#block-pingan-login-pingan-login-box .opa{
margin-left: 21px;
text-align:left;
margin-bottom: 35px;
margin-top: 20px;
font-size: 15px
}
#block-pingan-login-pingan-login-box .practice-account{
color:#c5271e;
}
#block-pingan-login-pingan-login-box .gmpa{
margin-top:15px;
}
#block-pingan-login-pingan-login-box #radius{
    width: 83%;
    margin: 0 auto;
    margin-bottom: 19px;
    border-bottom: solid 1px #ccc;
}
#block-pingan-login-pingan-login-box .practice-account{
    width: 83%;
    background: #c5271e;
    display: block;
    border-radius: 5px;
    margin: 0 auto;
    padding: 5px 9px;
    color: #ffffff;
    border: 0;
    line-height: 20px;
    font-size: 14px;
}
#block-pingan-login-pingan-login-box p{
line-height:18px;
}
#block-pingan-login-pingan-login-box .description{

  font-size: 14px;
  color: #999;
  line-height: 30px;
  margin-top: 8px;
  margin-bottom: 10px;

}
.go_etoro_register {
  background: #c5271e;
  border-radius: 4px;
    color: #ffffff;
  border: 1px solid #D4D2CF;
  height:31px;
  cursor:pointer;
  margin-right:20px;
}
.go_account{  background: #e9821d;
  border-radius: 4px;
  border: 1px solid wheat;
  color: #ffffff;
  cursor:pointer;
  height:31px;
  }
.user_name{
margin-top:10px;
}
