.loginPop{position:fixed;
	top:50px;
	left:450px;
	display: none;
	width: 690px;
	height: 720px;
	border:1px #ccc solid;
	background: #eee;
	padding: 10px;
	z-index: 999
}
.titleLogin,.titleRegister{
	text-align: center;
	height: 30px;
	font-size: 20px;
	font-weight: bold;
	line-height: 30px;
	margin: 5px 0;
}
.popClose{
	position: absolute;
	top:10px;
	left:10px;
	width: 40px;height: 30px;
	cursor: pointer;
}
#block-pingan-login-pingan-login-box button{

    width: 40%;
    height: 31px;

}
#block-pingan-login-pingan-login-box .popRegister{
background:#e9821d;
border-radius: 4px;
border: 1px solid wheat;
color: #ffffff;
}
#block-pingan-login-pingan-login-box .popLogin{
background:#ffffff;
border-radius: 4px;
border: 1px solid #D4D2CF;
}
#block-pingan-login-pingan-login-box{
background-color: #ffffff;
text-align: center;
float:right;
width:31%;
margin-top: 40px;
margin-bottom: 35px;
height: 248px;
}
.i18n-zh-hans #block-pingan-login-pingan-login-box{

height:260px;
}
#block-pingan-login-pingan-login-box h2{
font-size: 14px;
    font-weight: bold;
    margin-top: 30px;

}
.i18n-zh-hans #block-pingan-login-pingan-login-box h2{

font-size:20px;
}
#block-pingan-login-pingan-login-box .opa{
margin-left: 25px;
text-align:left;
margin-bottom: 35px;
margin-top: 20px;
font-size: 15px
}
#block-pingan-login-pingan-login-box .opa a{
text-decoration: underline;
color:#8b8b8b
}
#block-pingan-login-pingan-login-box .gmpa{
margin-top:19px;
}
#block-pingan-login-pingan-login-box #radius{
    width: 255px;
    margin: 0 auto;
    height: 19px;
    border-bottom: solid 1px #8b8b8b;
}
#block-pingan-login-pingan-login-box .gmpa a{

    width: 83%;
    background: #c5271e;
    display: block;
   
    border-radius: 5px;
    margin: 0 auto;
    padding: 9px;
    color: #ffffff;
    font-size: 14px;
}
#block-pingan-login-pingan-login-box p{
line-height:18px;
}
#block-pingan-login-pingan-login-box .description{

font-size:14px;
color: #8b8b8b;

}
